*{
    margin: 0;
    padding: 0;
    background-color: rgb(88, 88, 88);
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: #607d8b;
    border: none;
    color: white;
    
    
}
.textview{
    width: 203px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 5px solid #607d8b;
    box-shadow: 5px 5px 10px black;
}
.textview{
    background-color: white;
}